
div{
  height: 100px;
  width: 700px;
  border-width: 5px;
  background-color: pink;
  border-color: black;
  border-style: solid;
  /* margin: 10px; */
  padding: 10% 10%;
  padding-left: 5px;
}

h1{
  width: 50%;
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-color: green;
}
button{
  border: 2px solid black;
  width: 100px;
}
button:hover{
  border-radius: 50px;
}