body {
  display: flex;
  flex-direction: column;
  align-items: center;    /* Horizontal centering */
  justify-content: center; /* Vertical centering (if full height) */
  min-height: 100vh;
  margin: 0;
}
div{
  border: 1px solid black;
  height: 300px;
  width: 700px;
}
h4{
  display: flex;
  flex-direction: column;
  align-items: center;    /* Horizontal centering */
  justify-content: center; /* Vertical centering (if full height) */
  margin: 0;
}