* {
  font-family: "Courier New";
}

h1 {
  color: #b92b27;
}

#signup {
  background-color: #b92b27;
  color: white;
  border-radius: 20%;
}

p a {
  color: #b92b27;
  background-color: yellow;
  text-decoration: none;
}

.upvote {
  background-color: green;
}

.upvote+button {
  background-color: blueviolet;
}

div>input[type="text"] {
  color: purple;
}

div>input[type="password"] {
  color: red;
}

button:hover {
  background-color: black;
  color: white;
}

h3:hover {
  text-decoration: underline;
}

/* .post:nth-of-type(2n){
  background-color: black;
  color: azure;
} */

h1::first-letter {
  color: green;
}