#Alpha-channel{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  /* background-color: rgba(123, 255, 0, 0.675); */
}

#opacity-Prop{
  background-color: #ffa511;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin-top: 10px;
  opacity: 1;
}
#opacity-Prop-inner2{
  opacity: 1;
}