#Ques-1{
  height: 150px;
  border: 2px solid black;
  width: 300px;
  margin: 20px 1em 40px 2em;
  padding: 1em;
}
.Ques-2{
  height: 100px;
  width: 100px;
  background-color: pink;
  border: 2px solid black;
  display: inline-block;
  border-radius: 50%;
}
li{
  display: inline;
}