section{
  margin: 100px;
  border: 2px solid black;
}
div{
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #7aa874;
  border: 2px solid black;
  margin: 10px;
}
div:nth-of-type(2n){
  background-color: #f7db6a;
}
div:nth-of-type(3n){
  background-color: #ebb02d;
}

#one{
  transform: rotate(0.05turn);
}
#two{
  transform: scale(0.9);
}
#three{
  transform: translate(15rem);
}
#four{
  transform: skew(0.turn);
}