h1 {
  font-family: league spartan;
  color: #ffa511;
  text-align: center;
  font-weight: 900;
  font-size: 55px;
  text-decoration: underline teal double;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
}